body{
    font-family: consolas;
    color: white;
    background-color: rgb(29, 37, 41);
    height: 15px;
    
}

header {
    background-color: rgb(65, 82, 94);
    font-family: consolas;
    
    width: 10px;
    height: 950px;
    padding: 0px 50px;
    text-align: left;
    border-radius: 10px;
    display: flex;
    
}

/* Style for navigation bar */
nav {
    display: inline-block;
    
}



/* Basic link styling */
nav a {
    font-family: consolas;
    color: white;
    padding: 50px;
    text-decoration: none;
    display: inline-block;
    
    
}

/* Hover effect for links */
nav a:hover {
    background-color: #555;
    border-radius: 15px;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
    color: black;
    
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
    background-color: #ddd;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    
}

ul li {
    display: inline; /* Make items horizontal */
    margin-right: 15px; /* Space between items */
}